<!DOCTYPE html>
<html>

<head></head>

<body>
  <div id="app" v-cloak>
    <h2>Редактирование пользователя</h2>
    <div v-for="(person, index) in list" :key="index">
      <a href="#" @click.prevent="showForm(person)">{{person.name}}</a>
    </div>
    <users-form v-if="Object.keys(personData).length !== 0" :userdata="personData"></users-form>
  </div>
  <template id="users-component">
    <div>
      {{users}}
    </div>
  </template>
</body>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
  var userForm = {
    name: "UserForm",
    template: "#users-component",
    data: function () {
      return {
        users: [],
      }
    },
    props: {
      userdata: {
        type: Object,
        required: false
      }
    },
    methods: {
      addUser(user) {
        this.users.push(user);
      }
    },
    mounted() {
      this.addUser(this.userdata);
    }
  };

  var app = new Vue({
    el: "#app",
    components: {
      "users-form": userForm,
    },
    data: function () {
      return {
        title: "Курс по Vue.js",
        personData: {},
        list: [{
            name: "Leya",
            lastName: "Princess",
            patronymic: "The first",
            img: "avatars/girl.png"
          },
          {
            name: "Ivan",
            lastName: "Ivanov",
            patronymic: "Ivanovich",
            img: "avatars/man1.png"
          },
          {
            name: "Petr",
            lastName: "Petrov",
            patronymic: "",
            img: ""
          },
          {
            name: "Alex",
            lastName: "Sidorov",
            patronymic: "Ivanovich",
            img: "avatars/man.png"
          },
          {
            name: "Ilya",
            lastName: "Efimov",
            patronymic: "Petrovich",
            img: ""
          }
        ]
      };
    },
    methods: {
      showForm(data) {
        this.personData = data;
      }
    },
  });
</script>

<style>
  [v-cloak] {
    display: none;
  }
</style>

</html>